/* Corpo da página */

.Body{

    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
  
}
  
.primeira-metade-body{
  
    display: flex;
    gap: 1%;
  
}
  
/* Banner */
  
.banner{
    border: 1px #e6e3e3 solid;
    width: 69%;
    display: flex;
    flex-grow: 1;
    height: 392px; 
}
  
.banner div{
  
    width: 50%;
  
}
  
.banner-titulo{
  
    color:  rgb(148, 8, 8);
    font-size: 3em;
    margin-left: 6rem;
    font-weight: 700;
  
}
  
.banner-subtitulo{
  
    margin-top: -20px;
    margin-left: 6rem;
    font-size: 1.5em;
    color: rgb(102, 99, 99);
  
}
  
.foto-banner{
  
    margin-left: 100px;
    width: 400px;
    height: 350px;
  
}
  
.banner-callToAction{
  
    margin-left: 6rem;
    
}
/* Produtos */

.titulo-produtos{

    margin-left: 25px;
  
}
  
.segunda-metade-body{
  
    margin-top: 20px;
  
}
  
.produtos{
  
    width: 100%;
    margin-top: 20px;
  
}
  
.fila{
  
    width: 100%;
    height: 350px;
    display: flex;
    gap: 2rem;
    margin-top: 50px;
}
  
.card{
  
    height: 350px;
    width: 24%;
  
}
  
.card div{
  
    height: 50%;
    border: 1px #e6e3e3 solid;
  
}
  
.titulo-card{
  
    margin-left: 10px;
    font-weight: 400;
  
}


  
.descricao-card{
  
    font-size: 0.6em;
    color: rgb(102, 99, 99);
    margin-left: 10px;
    border-top: none;
  
}
  
.button-card{
  
    border-radius: 3px;
    width: 80px;
    height: 25px;
    margin-left: 10px;
    background-color: rgb(148, 8, 8);
    color: white;
    border: none;
    cursor: pointer;
  
}
  
.card-imagem{
  
    border-bottom: none !important;
  
}
  
.card-imagem img{
  
    width: 150px;
    height: 150px;
    top: 10px;
    position: relative;
    left: 70px;
    cursor: pointer;
  
}
  
.revelar-produtos{
  
    width: 100%;
    display: flex;
    justify-content: center;
  
}
  
.revelar-produtos button{
  
    background-color: rgb(148, 8, 8);;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
  
}

.banner-button{
    margin-left: 6rem;
}