/* Página geral */

.Sobre{
  overflow-x: hidden;
  font-family: 'montserrat';
  min-height: 1500px;
}

/* Texto principal Página */

.titulo-sobre{
    margin-top: 6rem;
    font-size: 5rem;
    color: rgb(19, 19, 88);
    font-weight: 600;
    text-align: center;
}

.apresentacao-sobre{
  text-align: center;
  font-size: 1.5rem;
  width: 60%;
  color: rgb(17, 17, 143);
  margin: 0 auto;
}

/* Slider */

.titulo-slider-sobre{
  text-align: center;
  margin-top: 12rem;
  margin-bottom: 0;
  font-size: 3rem;
  color: rgb(19, 19, 88);
  font-weight: 500;
}

.slider{
  top: 10rem;
  position: relative;
  display: flex;
  left: 18rem;
  cursor: grab;
}

.inner-slider{
  display: flex;
  gap: 175px;
}

/* Card */

.slide-sobre{
  position: relative;
  display: flex;
  width: 775px;
  height: 425px;
}

.imagem-slide{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagem-slide img{
  height: 80%;
  width: 90%;
  pointer-events: none;
}

.texto-slide{
  width: 50%;
}

.texto-slide h6{
  margin: 20px;
  width: fit-content;
  font-size: 1.5rem;
  color: rgb(19, 19, 88);
  margin-top: 7rem;
}

.texto-slide p{
  margin: 20px;
  width: fit-content;
  font-size: 1.25rem;
  text-align: left;
  font-weight: 400;
  color: rgb(19, 19, 88);
}

.ano-acontecimento-contato, .mes-acontecimento-contato{
  color: rgb(19, 19, 100);
  position: absolute;
  opacity: 70%;
}

.mes-acontecimento-contato{
  bottom: 145px;
  right: 390px;
  font-size: 5.5rem;
}

.ano-acontecimento-contato{
  font-size: 7.5rem;
  right: -70px;
  top: 70px;
}